﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Conc</title>
</head>
<body>
	<form action="/ctr/getconvconc" method="post">
		<input type="text" placeholder="Amount" name="amount" />
		<select name="from">
			<option value="usd">USD</option>
			<option value="eur">EUR</option>
			<option value="eg">EG</option>
		</select>
		<select name="to">
			<option value="usd">USD</option>
			<option value="eur">EUR</option>
			<option value="eg">EG</option>
		</select>
		<br><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>
