﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowStd</title>
</head>
<body>
	<h1>
		@ViewBag.id
		@ViewBag.name
		@ViewBag.age
	</h1>
	<img src="~/img/@ViewBag.img" alt="Student Image" width="300px" />
	<br />
	<br />
	<a href="/ctr/SaveImg/?file=@ViewBag.img">Download Img</a>
</body>
</html>
