﻿@page
@model MyApp.Pages.Dept_CreateModel
@{
}

<form method="post">
	<input asp-for="Dept.Dept_Id" />
	<span asp-validation-for="Dept.Dept_Id"></span> <br />

	<input asp-for="Dept.Dept_Name" />
	<span asp-validation-for="Dept.Dept_Name"></span> <br />

	<input type="submit" value="Add" />
</form>
