﻿@page "{id}"
@model MyApp.Pages.Dept_updateModel
@{
}


<form method="post">
	<input asp-for="Dept.Dept_Id" value="@Model.Dept.Dept_Id" readonly/>
	<span asp-validation-for="Dept.Dept_Id"></span> <br />

	<input asp-for="Dept.Dept_Name" value="@Model.Dept.Dept_Name" />
	<span asp-validation-for="Dept.Dept_Name"></span> <br />

	<input type="submit" value="Update" />
</form>