﻿@page
@model MyApp.Pages.Dept.DeptModel
@{
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<a class="accordion-button" asp-page="Dept_Create" >Add Department</a>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Opeartions</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var itm in Model.Depts)
		{
			<tr>
				<td>@itm.Dept_Id</td>
				<td>@itm.Dept_Name</td>
				<td>
					<a asp-page="Dept_details" asp-route-id="@itm.Dept_Id">Deatils</a>
					<a asp-page="Dept_update" asp-route-id="@itm.Dept_Id">Update</a>
					<a asp-page="Dept_delete" asp-route-id="@itm.Dept_Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
