﻿@page "{id}"
@model MyApp.Pages.DetailsModel
@{
}

<h2>Name: @Model.Student.Std_Name</h2>
<h3>Id: @Model.Student.Std_Id</h3>
<h3>Department: @Model.Student.Dept.Dept_Name</h3>
<h3>Age: @Model.Student.Std_Age</h3>
