﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Pages.Dept

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class ="accordion-button" asp-page="Std">Students</a>
    <a class ="accordion-button" asp-page="Dept">Departments</a>
</div>
