﻿@page "{id}"
@model MyApp.Pages.UpdateModel
@{
}

<form method="post">
	<input asp-for="Student.Std_Id" value="@Model.Student.Std_Id" readonly/>
	<span asp-validation-for="Student.Std_Id"></span> <br />

	<input asp-for="Student.Std_Name" value="@Model.Student.Std_Name" />
	<span asp-validation-for="Student.Std_Name"></span> <br />

	 <select asp-for="Student.Dept.Dept_Name" >
		@foreach(var name in Model.Depts)
		{
			<option>@name</option>
		}
	</select> <br />

	<input asp-for="Student.Std_Age" value="@Model.Student.Std_Age" />
	<span asp-validation-for="Student.Std_Age"></span> <br />

	<input type="submit" value="Update" />
</form>