﻿@model Dept
@{
    Layout = "_MyLayout";
}

	<h1> Create New Department</h1>
	<div class="container">
		<form asp-action="Add" asp-controller="Dept" enctype="multipart/form-data">

      <div class="row g-3 align-items-center">
        <div class="col-lg-1">
          <label asp-for="Id"></label>
        </div>
        <div class="col-lg-6">
          <input asp-for="Id" type="text" class="form-control">
        </div>
        <div class="col-lg-5">
          <span asp-validation-for="Id">
          </span>
        </div>
      </div>

      <div class="row g-3 align-items-center">
        <div class="col-lg-1">
          <label asp-for="Name"></label>
        </div>
        <div class="col-lg-6">
          <input asp-for="Name" type="text" class="form-control">
        </div>
        <div class="col-lg-5">
          <span asp-validation-for="Name">
          </span>
        </div>
      </div>

      <div class="row g-3 align-items-center">
        <div class="col-lg-1">
          <label asp-for="Email"></label>
        </div>
        <div class="col-lg-6">
          <input asp-for="Email" type="text" class="form-control">
        </div>
        <div class="col-lg-5">
          <span asp-validation-for="Email">
          </span>
        </div>
      </div>

      <div class="row g-3 align-items-center">
        <div class="col-lg-1">
          <label asp-for="Password"></label>
        </div>
        <div class="col-lg-6">
          <input asp-for="Password" type="password" class="form-control">
        </div>
        <div class="col-lg-5">
          <span asp-validation-for="Password">
          </span>
        </div>
      </div>

      <div class="row g-3 align-items-center">
        <div class="col-lg-1">
          <label asp-for="ComPassword"></label>
        </div>
        <div class="col-lg-6">
          <input asp-for="ComPassword" type="password" class="form-control">
        </div>
        <div class="col-lg-5">
          <span asp-validation-for="ComPassword">
          </span>
        </div>
      </div>

      <div class="row g-3 align-items-center">
        <div class="col-lg-1">
          <label asp-for="Location"></label>
        </div>
        <div class="col-lg-6">
          <input asp-for="Location" type="text" class="form-control">
        </div>
        <div class="col-lg-5">
          <span asp-validation-for="Location">
          </span>
        </div>
      </div>

      <div class="row g-3 align-items-center">
        <div class="col-lg-1">
          <label asp-for="ImgName"></label>
        </div>
        <div class="col-lg-6">
          <input asp-for="ImgName" type="file" class="form-control" name="deptImg">
        </div>
        <div class="col-lg-5">
          <span asp-validation-for="ImgName">
          </span>
        </div>
      </div>

			<input type="submit" value="Add" />
		</form>
	</div>
