﻿@model  Dept
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
	<h1>Edit Department</h1>
	<div class="container">
		<form asp-action="Update" asp-controller="Dept" enctype="multipart/form-data">
			<input asp-for="Id" placeholder="Id" hidden="hidden" value="@Model.Id"/>
			<input asp-for="Name" placeholder="Name" value="@Model.Name" />
			<input asp-for="Location" placeholder="Location"value="@Model.Location" />
			<input type="file" name="img" placeholder="Location" value="@Model.ImgName" />
			<input type="submit" value="Edit" />
		</form>
	</div>
</body>
</html>
