﻿@model  Dept
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Location</th>
				<th>Operations</th>
			</tr>
		</thead>

		<tbody>
				<tr>
					<td>@Model.Id</td>
					<td>@Model.Name</td>
					<td>@Model.Location</td>
					<img src= "~/images/@Model.ImgName" />
				</tr>
		</tbody>

	</table>
</body>
</html>
