﻿@using PagedList.Mvc
@model PagedList.IPagedList<Dept>
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Pagination</title>
</head>
<body>
	<center>
		<h2>Student Details</h2>
		<div style="border:1px solid
red; margin-left:25%; margin-right:20%">
			<table style="width:100%" border="1">
				<tr>
					<th style="width:10%; text-align:left"> @Html.Label("Student ID")</th>
					<th style="width:10%; text-align:left">@Html.Label("Name")</th>
					<th style="width:15%; text-align:left">@Html.Label("Father Name")</th>
					<th style="width:15%; text-align:left">@Html.Label("Mother Name")</th>
					<th style="width:5%; text-align:left">@Html.Label("Age")</th>
					<th style="width:15%; text-align:left">@Html.Label("Country")</th>
					<th style="width:15%; text-align:left">@Html.Label("State")</th>
					<th style="width:15%; text-align:left">@Html.Label("Nationality")</th>

				</tr>

				@for (int i = 0; i < Model.Count; i++)
				{
					<tr style="border:1px solid
red">
						<td>@Model[i].Id</td>
						<td>@Model[i].Name</td>
						<td>@Model[i].Location</td>
						<td>@Model[i].ImgName</td>
					</tr>

				}
			</table>


		</div>
	</center>
	<div id="container" style="margin-left: 20px">
		<p></p>
		<p></p>
@*		<div class="pagination" style="margin-left: 400px">
			Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
			of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
		</div>*@
	</div>
</body>
</html>
