﻿@model Dept
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateDept</title>
</head>
<body>
	<h1> Create New Department</h1>
	<div class="container">
		<form asp-action="Add" asp-controller="Dept" enctype="multipart/form-data">
			<input asp-for="Id" placeholder="Id" />
			<input asp-for="Name" placeholder="Name" />
			<input asp-for="Location" placeholder="Location" />
			<input type="file" name="img" placeholder="Location" />
			<input type="submit" value="Add" />
		</form>
	</div>
</body>
</html>
